package {{classBean.package}};

{% if classBean.import_classes %}
{% for class in classBean.import_classes %}
import {{class}};
{% endfor %}
{% endif %}

public class {{ classBean.name }}{
	{% for property in classBean.properties %}
	private {{property.p_type}} {{property.name}};
	{% endfor %}
	
	{% for property in classBean.properties %}
	public void set{{property.cap_name}}({{property.p_type}} {{property.name}}){
		this.{{property.name}}={{property.name}};
	}
	
	public {{property.p_type}} get{{property.cap_name}}(){
		return {{property.name}};
	}
	{% endfor %}
	
}
